@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

*{
  box-sizing: border-box;
}

button{
  padding: 0;
}

body{
  margin: 0px;
  padding: 0px;
  font-family: 'DM Sans', sans-serif;
  /* overflow: scroll; */
  color: #f8f8f8;
  background-color: #1a1a1a;
  /* background-color: #121212; */
}

h1, h2, p, ul{
  margin: 0;
}

h1, h2, p{
  line-height: 1.33;
}

.modal{
  background-color: #252525;
  border: 1px solid #404040;
  width: 100vw;
  height: 90vh;
  position: fixed;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, .14), 0px 2px 12px rgba(0, 0, 0, .06);
  z-index: 20;
  border-radius: 16px;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%,0%);
  transition: transform 0.35s ease;
}

.modal-close-button{
  position: absolute;
  left: 50%;
  top: -24px;
  transform: translateX(-50%);
  border:none;
  background-color: #fff;
  /* padding: 16px; */
  padding-top: 2px;
  border-radius: 100rem;
  width: 48px;
  height: 48px;
  cursor: pointer;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, .14), 0px 2px 12px rgba(0, 0, 0, .06);
  transition: all 0.15s ease;
}

.modal-close-button img{
  transition: 0.15s ease;
}
 .modal-close-button:hover img{
  transform: rotate(90deg)
 }

.case-intro{
  margin-bottom: 84px;
}
.info-section{
  padding: 24px 0px 24px 24px;
}

.descriptions p{
  margin-bottom: 16px;
}

.image-section  -webkit-scrollbar{
  display: none;
}

.image-section{
  padding: 0px 24px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;

}

.image-placeholder{
  width: 100%;
  min-height: 400px;
  background-color: #b2b2b2;
  border-radius: 8px;
}

.hero-image{
  min-height: 700px;
  margin-bottom: 84px;
}

.hide{
  transform: translate(-50%,110%);
}

.inner-modal{
  padding: 104px 148px;
  overflow-y: scroll;
  height: 90vh;


}



.title-modal{
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 36px;
  color: #fff;
  
}

.description-modal{
  margin-bottom: 24px;
  color: #b7b7b7;
  font-size: 16px;

}

.project-tags{
  display: flex;
  list-style-type: none;
  gap: 8px;
  padding: 0;
  margin-bottom: 32px;
  font-size: 14px;
}

.case-text{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
  align-items: center;
  margin-bottom: 128px;
}

.case-text h3{
font-size: 48px;
font-weight: 400;
}

.case-text p{
  font-size: 16px;
}

.project-tags li{
  padding: 12px 24px;
  background-color: #383838;
  border: 1px solid #404040;
  border-radius: 100rem;
}

.two{
  grid-row-start: 2;
}

.three{
  grid-row-start: 3;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: inherit;
  position: fixed;
  top: 24px;
 
  /* padding: 0px 64px */
}

.site-info-container{
  padding-left: 64px;
  font-size: 14px;

}

.name-version-container{
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.name-version-container p{
  padding: 6px 16px;
  background-color: #383838;
  border: 1px solid #404040;
  border-radius: 100rem;
  width: fit-content;
}

.nav-container{
  display: flex;
  gap: 24px;
  padding-right: 64px;
  align-items: center;
}

.nav-container span{
  cursor: pointer;
}

.site-title{
  max-width: 700px;
}

.contact-container{
  transition: all 0.15s ease;
}

.site-contact-button{
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  background-color:#383838;
  border-radius: 4px;
  color: white;
  cursor: pointer;

}

.contact-container:hover{
  transform: scale(0.97);
  cursor: pointer;
}


.filter-container{
  position: fixed;
  color:#1a1a1a;
  left: 50%;
  transform: translateX(-50%);
  bottom: 24px;
  background-color: white;
  padding: 8px;
  border-radius: 100rem;
  font-size: 18px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, .14), 0px 2px 12px rgba(0, 0, 0, .06);
  z-index: 10;
  
}

.filter-container ul{
  display: flex;
  list-style-type: none;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.filter-container ul li{
  padding: 12px 32px;
  transition: all 0.15s ease;
}

.filter-container ul li:hover{
  background-color: #e6e6e6;
  border-radius: 100rem;
  cursor: pointer;
}

.filter-active{
  background-color: black;
  border-radius: 100rem;
  color: white;
}

.filter-container ul li .filter-active:hover{
  background-color: black;
  border-radius: 100rem;
  color: white;
}

.calendar-container{
  display: flex;
  margin-top: 200px;
  /* height: 100%; */
  height: calc(100vh - 274px);
}

.month{
  width: 400px;
  flex: none;
}

.date-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  margin-bottom: 12px;
}

.date-container .year{
  color: #808080;
  font-size: 12px;
}

.date-container .date{
  font-weight: 700;
  font-size: 14px;
}
.event-container{
  display: grid;
  border-top: 1px solid #505050;
  border-right: 1px dashed #505050;
  /* border-top: 1px solid #e6e6e6;
  border-right: 1px dashed #e6e6e6; */
  padding: 4px 4px 4px 8px;
  /* width: 100%; */
  height: 100%;

  grid-template-rows: 1fr 1fr 1fr 1fr;

}

.event{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  background-color: #C9E5FF;
  border-radius: 16px;
  transition: all 0.15s ease;
  min-height: 350px;
  height: fit-content;
  color:#2A4258;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
}
.dark{
  color:black
}

.bright{
  color: white;
}

.event:hover{
  transform: scale(0.97);
  cursor: pointer;
}

.label{
  font-size: 12px;
  /* padding: 8px 12px;
  background-color: #F6FBFF;
  width: fit-content;
  border-radius: 100rem; */
}

.case-image-container{
  display: flex;
  justify-content: center;
}

.case-image{
  max-width: 100%;
  max-height: 250px;
}

.title-container{
  font-size: 14px;
  font-weight: normal;


  /* white-space: normal; */
}

.title-container h3{
  font-weight: 400;

}