@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

*{
  box-sizing: border-box;
}

button{
  padding: 0;
}

body{
  margin: 0px;
  padding: 0px;
  font-family: 'DM Sans', sans-serif;
  /* overflow: scroll; */
  color: #f8f8f8;
  background-color: #1a1a1a;
  /* background-color: #121212; */
}

h1, h2, h3, p, ul{
  margin: 0;
  font-weight: 400;
}

h1, h2, p{
  line-height: 1.33;
  font-weight: 400;
}


.modal{
  background-color: #252525;
  border: 1px solid #404040;
  width: 100vw;
  height: 90vh;
  position: fixed;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, .14), 0px 2px 12px rgba(0, 0, 0, .06);
  z-index: 20;
  border-radius: 16px 16px 0px 0px;
  border-bottom: none;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%,0%);
  transition: transform 0.35s ease;
}

.modal-close-button{
  position: absolute;
  left: 50%;
  top: -24px;
  transform: translateX(-50%);
  border:none;
  background-color: #fff;
  /* padding: 16px; */
  padding-top: 2px;
  border-radius: 100rem;
  width: 48px;
  height: 48px;
  cursor: pointer;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, .14), 0px 2px 12px rgba(0, 0, 0, .06);
  transition: all 0.15s ease;
}

.modal-close-button img{
  transition: 0.15s ease;
}
 .modal-close-button:hover img{
  transform: rotate(90deg)
 }

.case-intro{
  margin-bottom: 48px;
}
.info-section{
  padding: 24px 0px 24px 24px;
}

.descriptions p{
  margin-bottom: 16px;
}

.image-section  -webkit-scrollbar{
  display: none;
}

.image-section{
  padding: 0px 24px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;

}

.image-placeholder{
  width: 100%;
  min-height: 400px;
  background-color: #b2b2b2;
  border-radius: 8px;
}

.hero-image{
  min-height: 700px;
  margin-bottom: 84px;
}

.hero-image-container img{
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 128px;
}

.hide{
  transform: translate(-50%,110%);
}



.inner-modal{
  padding: 64px 148px;
  overflow-y: scroll;
  height: 90vh;


}



.title-modal{
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 36px;
  color: #fff;
  
}

.description-modal{
  margin-bottom: 24px;
  color: #b7b7b7;
  font-size: 16px;

}

.project-tags{
  max-width: 100%;
  flex-wrap: wrap;
  display: flex;
  list-style-type: none;
  gap: 8px;
  padding: 0;
  margin-bottom: 32px;
  font-size: 14px;
}

.case-text-container{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.case-text{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
  margin-bottom: 128px;
}

.case-text ul{
  padding: 0;
  list-style: none;

}

.case-text h3{
font-size: 48px;
font-weight: 400;
}

.case-text p{
  font-size: 16px;
}

.project-tags li{
  padding: 12px 24px;
  background-color: #383838;
  border: 1px solid #404040;
  border-radius: 100rem;
}

.two{
  grid-row-start: 2;
}

.three{
  grid-row-start: 3;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-width: inherit;
  position: fixed;
  top: 0px;
  background-color: #1a1a1a;
}

.site-info-container{
  display: flex;
  justify-content: space-between;
  padding:24px 64px;
  font-size: 14px;
  width: 100vw;

}

.name-version-container{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 8px;
}

.name-version-container p{
  padding: 6px 16px;
  background-color: #383838;
  border: 1px solid #404040;
  border-radius: 100rem;
  width: fit-content;
}

.nav-container{
  display: flex;
  gap: 24px;
  padding-right: 64px;
  align-items: center;
}

.nav-container span{
  cursor: pointer;
}

.site-title{
  max-width: 700px;
}

.contact-container{
  transition: all 0.15s ease;
}

.site-contact-button{
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  background-color:#383838;
  border-radius: 4px;
  color: white;
  cursor: pointer;

}

.contact-container:hover{
  transform: scale(0.97);
  cursor: pointer;
}
.filter-container a{
  text-decoration: none;

}


.filter-container{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 24px;
  background-color: white;
  padding: 8px;
  border-radius: 100rem;
  font-size: 18px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, .14), 0px 2px 12px rgba(0, 0, 0, .06);
  z-index: 10;
  
}

.filter-container ul{
  display: flex;
  list-style-type: none;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.filter-container ul li{
  padding: 12px 32px;
  transition: all 0.15s ease;
  color:#1a1a1a;
}



.filter-active{
  background-color: black;
  border-radius: 100rem;
  color: white !important;
}

.filter-active li{
  color: white !important;
}



.calendar-container{
  display: flex;
  margin-top: 200px;
  /* height: 100%; */
  height: calc(100vh - 274px);
}

.month{
  width: 400px;
  flex: none;
}

.date-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  margin-bottom: 12px;
}

.date-container .year{
  color: #808080;
  font-size: 12px;
}

.date-container .date{
  font-weight: 700;
  font-size: 14px;
}
.event-container{
  display: grid;
  border-top: 1px solid #505050;
  border-right: 1px dashed #505050;
  /* border-top: 1px solid #e6e6e6;
  border-right: 1px dashed #e6e6e6; */
  padding: 4px 4px 4px 8px;
  /* width: 100%; */
  height: 100%;

  grid-template-rows: 1fr 1fr 1fr 1fr;

}

.event{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  background-color: #C9E5FF;
  border-radius: 16px;
  transition: all 0.15s ease;
  min-height: 350px;
  height: fit-content;
  color:#2A4258;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
}
.dark{
  color:black
}

.bright{
  color: white;
}

.event:hover{
  transform: scale(0.97);
  cursor: pointer;
}

.label{
  font-size: 12px;
  /* padding: 8px 12px;
  background-color: #F6FBFF;
  width: fit-content;
  border-radius: 100rem; */
}

.case-image-container{
  display: flex;
  justify-content: center;
}

.case-image{
  max-width: 100%;
  max-height: 250px;
}

.image-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 128px;
}

.image-grid img{
  max-width: 100%;
  border-radius: 8px;
}

.title-container{
  font-size: 14px;
  font-weight: normal;


  /* white-space: normal; */
}

.title-container h3{
  font-weight: 400;

}

.about-container{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 48px;
  margin-top: 200px;
  /* height: 100%; */
  height: calc(100vh - 274px);
  margin-left: 64px;
  margin-right: 64px;
  margin-bottom: 64px;
}

.description{
  font-size: 28px;
}

.about-container ul{
  padding: 0px;
}

.about-container ul li{
  font-size: 14px;
  list-style-type: none;
  font-weight: 400;
}

.about-container ul li a{
  color: #fff;
  text-decoration: underline;
}

.about-container ul li a:hover{
  text-decoration: none;
}
.personal-info{
  font-size: 14px;
}

.menu-toggle{
  display: none;
}

.column-title{
  font-size: 14px;
  margin-bottom: 24px;
}




@media only screen and (max-width: 600px) {

  .header{
    display: block;
    top:0px;
  }

  .nav-container{
    display: none;
  }
 

  .site-info-container{
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
  
  }

  .filter-container{
    bottom: 8px;
    width: fit-content;
  }

  .calendar-container{
    display: flex;
    margin-top: 205px;
    /* height: 100%; */
    height: 54vh;
  }

  .month{
    width: 250px;
  }

  .event{
    min-height: 250px;
    transition:none;
  }

  .modal-close-button{
    transition: none;
  }

  .modal{
    width: 100vw;
    height: 80vh;
  }

  .inner-modal{
    padding: 56px 24px;
    height: 80vh;
  }

  .image-grid{
    grid-template-columns: 1fr;
    margin-bottom: 48px;
  }

  .case-text-container{
    max-width: 100%;

  }

  .case-text{
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    align-items: center;
    margin-bottom: 48px;
  }

  .desktop{
    display: none;
  }

  .filter-container{
    background-color: transparent;
    box-shadow: none;
   
  }

  .filter-items{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .filter-items li{
    width: fit-content;
  }

  .filter-container ul{
    display: flex;
    flex-direction: column;
  }

  .filter-container ul li{
    background-color: #fff;
    text-align: center;
    border-radius: 100rem;
  }
  
  .about-container{
    margin-left: 24px;
    margin-right: 24px;
    grid-template-columns: 1fr;
    gap: 24px;
    margin-bottom: 94px;
    margin-top: 210px;
    height: fit-content;
  }

  .about-container .description{
    font-size: 20px;
  }


  .menu-toggle{
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    width: fit-content;
  }

  .menu-toggle img{
    width: 20px;
    height: 20px;
    transition: all 0.1s ease;
  }

  .rotate{
    transform: rotate(45deg);
  }

  .gone{
    display: none;
  }

  .filter-active{
    background-color: white;
    border-radius: 100rem;
    color: #1a1a1a;
  }
  
  .filter-active li{
    color: #1a1a1a !important;
  }

  .hero-image-container img{
    margin-bottom: 24px;
  }

}